.milkdown {
  ul *, ol * {
    margin: 0;
    padding: 0;
  }

  :focus-visible {
    outline: none;
  }

  .ProseMirror {
    padding: 60px 120px;

    *::selection {
      background: var(--crepe-color-selected);
    }

    .ProseMirror-selectednode {
      background: var(--crepe-color-selected);
      outline: none;
      background: color-mix(
        in srgb,
        var(--crepe-color-selected),
        transparent 60%
      );
      ::selection {
        background: transparent;
      }
      &::selection {
        background: transparent;
      }
    }

    &[data-dragging='true'] {
      .ProseMirror-selectednode,
      &::selection,
      *::selection {
        background: transparent;
      }

      input::selection {
        background: var(--crepe-color-selected);
      }
    }

    img {
      vertical-align: bottom;
      max-width: 100%;

      &.ProseMirror-selectednode {
        background: none;
        outline: 2px solid var(--crepe-color-primary);
      }
    }

    code {
      color: var(--crepe-color-inline-code);
      background: color-mix(
        in srgb,
        var(--crepe-color-inline-area),
        transparent 40%
      );
      padding: 0 10px;
      border-radius: 4px;
      display: inline-block;
    }

    code::before, code::after, blockquote > p::before, blockquote > p::after {
      content: none;
    }

    a {
      color: var(--crepe-color-primary);
      text-decoration: underline;
    }
  }
}

.milkdown {
  --crepe-color-background: var(--color-base-100);
  --crepe-color-on-background: var(--color-base-content);
  --crepe-color-surface: var(--color-base-200);
  --crepe-color-surface-low: var(--color-base-300);
  --crepe-color-on-surface: var(--color-base-content);
  --crepe-color-on-surface-variant: var(--color-secondary);
  --crepe-color-outline: var(--color-base-content);
  --crepe-color-primary: var(--color-primary);
  --crepe-color-secondary: var(--color-secondary-content);
  --crepe-color-on-secondary: var(--color-secondary);
  --crepe-color-inverse: var(--color-base-content);
  --crepe-color-on-inverse: var(--color-base-100);
  --crepe-color-inline-code: var(--color-error);
  --crepe-color-error: var(--color-error);
  --crepe-color-hover: color-mix(in oklab,var(--color-base-content)10%,transparent);
  --crepe-color-selected: color-mix(in oklab,var(--color-base-content)10%,transparent);
  --crepe-color-inline-area: var(--color-base-200);
}

div[data-milkdown-root="true"], .milkdown, div.ProseMirror.editor {
  height: 100%;
}

div.ProseMirror.editor {
  overflow-y: scroll;
  width: 100%;
  padding-left: max(calc(50% - 40ch), 2ch);
  padding-right: max(calc(50% - 40ch), 2ch);
  max-width: none;
}
